{% extends 'base.html'%}

{% block title %}
    Profile Details
{% endblock title %}

{% block content %}
<div class="ui grid">
    <div class="row">
        <div class="four wide column">
        	{{object}}
            {{follow}}
        <br>
        	{% if follow %}
                <form action="" method="POST">
                    <input type="hidden" name="profile_pk" value="{{object.pk}}">
                    <button type="submit" class="ui negative button">Unfollow</button>
                </form>
            {% else %}
                <button id='follow-btn' class="ui positive button">Follow</button>
        	{% endif %}
        </div>
        <div class="twelve wide column">
            {% for post in object.profile_posts %}
                <div class="ui segment">
                    {{post.body}}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
  
{% endblock content %}
